html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../../assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#formulario_inicio_sesion_fondo {
    backdrop-filter: blur(10px);
    color: #022c3d;
}

#formulario_inicio_sesion input